a.out
typp
typp-server
cpm.*
wpm.*
*.o
.gdb_history
.deps/
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in~
config.h.in
config.log
config.status
configure
configure~
depcomp
install-sh
missing
stamp-h1
tags
